<img style="cursor: pointer;" id="paypal_footer" class="social" id="twitter" src="/assets/social/paypal-128.png" onclick="document.forms['paypal_form'].submit();" />
<form id="paypal_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input name="cmd" value="_s-xclick" type="hidden">
    <input name="hosted_button_id" value="P8SXZVLAKNRQW" type="hidden">
</form>