/* Override Parallax Button Class */

.button-p{
  @include border-radius($big-border-radius);
}

.full-width-photo {
  background-size: 100% auto;
  background-position: 0% 0%;
  padding: 100px 0px 100px 0px;
  box-shadow: inset 1px 0px 7px rgba(0, 0, 0, 0.9);
  margin-bottom: 15px;
}
