body.parallax-home{
  .site-inner{
    .entry-header{
      display:none;
    }
    
    .parallax-photo {
      padding: 100px 0px 100px 0px;
      box-shadow: inset 1px 0px 7px rgba(0, 0, 0, 0.9);
      margin-bottom: 15px;
      display: none;
    }
  }
}