/* PNC Tag Definitions */
pre{
  font-size: $small-font-size;
  padding: 10px;
  border: solid 1px rgba($pnc_gray, 0.2);
  background-color: rgba($pnc_gray,0.1);
  color: darken($pnc_gray, 20%);
  @include border-radius($big-border-radius);
  margin: 10px 0px 10px 0px;
}

pre:hover{
  color: $pnc_blue;
}

p{
  margin: 10px 0px 10px 0px;
}
