<div class="row">
  <div class="medium-8 columns">
    <ul>
      <li>[footer_copyright] Pointe North Church - All Rights Reserved</li>
      <li>110 Bilo Drive, Moncks Corner, SC, 29461</li>
      <li>Telephone: <a href="tel:843-761-6196">843-761-6196</a></li>
      <li>Email: <a href="mailto:pnccinfo@pointenorth.org">pnccinfo@pointenorth.org</a></li>
    </ul>
    <p>
      <a href="https://pnccchssc.infellowship.com/UserLogin/Index?ReturnUrl=%2fonlinegiving%2fgivenow%2fstep1" target="_blank">Online Giving</a> |
      <a href="#directions">Directions</a> |
      <a href="#prayer_requests">Prayer Requests</a> |
      <a href="/privacy">Privacy Policy</a>
    </p>
  </div>
  <div class="medium-4 columns">
    <!-- Image URLS need to be /wp-content/themes/pnc-parallax/images/{IMAGE_NAME} -->
    <p>
      <a href="http://www.bible.com/app" target="_blank">
        <img id="youversion" src="/wp-content/themes/pnc-parallax/images/color_logo.png" />
        <img id="bible" src="/wp-content/themes/pnc-parallax/images/Bible-app-icon-english-144x144.png" />
      </a>
    </p>
    <!-- Image URLS need to be /wp-content/themes/pnc-parallax/images/social/{IMAGE_NAME} -->
    <p style="padding-top: 10px;">
      <a href="[site_url]/feed"><img class="social" id="rss" src="/wp-content/themes/pnc-parallax/images/social/rss-128.png" /></a>
      <a href="mailto:pnccinfo@pointenorth.org" target="_blank"><img class="social" id="email" src="/wp-content/themes/pnc-parallax/images/social/email-128.png" /></a>
      <a href="https://www.facebook.com/PointeNorth" target="_blank"><img class="social" id="facebook" src="/wp-content/themes/pnc-parallax/images/social/facebook-128.png" /></a>
      <a href="https://twitter.com/pncc_sc" target="_blank"><img class="social" id="twitter" src="/wp-content/themes/pnc-parallax/images/social/twitter-128.png" /></a>
      <img style="cursor: pointer;" id="paypal_footer" class="social" id="twitter" src="/wp-content/themes/pnc-parallax/images/social/paypal-128.png" onclick="document.forms['paypal_form'].submit();" />
      <form id="paypal_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input name="cmd" value="_s-xclick" type="hidden">
          <input name="hosted_button_id" value="P8SXZVLAKNRQW" type="hidden">
      </form>
    </p>
  </div>
</div>