<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title>Pointe North Church  ::    About Us</title>
		<meta name="robots" content="noodp,noydir" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="alternate" type="application/rss+xml" title="Pointe North Church &raquo; Feed" href="http://pointenorth.org/feed/" />
		<link rel="alternate" type="application/rss+xml" title="Pointe North Church &raquo; Comments Feed" href="http://pointenorth.org/comments/feed/" />
		<link rel="canonical" href="http://pointenorth.org/about-us/" />
		<link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.1' type='text/css' media='all' />
		<link rel='stylesheet' id='dashicons-css'  href='http://pointenorth.org/wp-includes/css/dashicons.min.css?ver=4.1' type='text/css' media='all' />
		<link rel='stylesheet' id='admin-bar-css'  href='http://pointenorth.org/wp-includes/css/admin-bar.min.css?ver=4.1' type='text/css' media='all' />
		<link rel='stylesheet' id='pnc-parallax-theme-css'  href='http://pointenorth.org/wp-content/themes/pnc-parallax/style.css?ver=1.2' type='text/css' media='all' />
		<style id='pnc-parallax-theme-inline-css' type='text/css'>
			.home-section-1 {
				background-image: url(http://pointenorth.org/wp-content/uploads/2014/09/Hand.jpg);
			}
			.home-section-3 {
				background-image: url(http://pointenorth.org/wp-content/uploads/2014/09/Amy_Haley.jpg);
			}
			.home-section-5 {
				background-image: url(http://pointenorth.org/wp-content/uploads/2014/09/Prayer.jpg);
			}
			.home-section-7 {
				background-image: url(http://pointenorth.org/wp-content/themes/pnc-parallax/images/bg-7.jpg);
			}
		</style>
		<link rel='stylesheet' id='contact-form-7-css'  href='http://pointenorth.org/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.0.3' type='text/css' media='all' />
		<link rel='stylesheet' id='gch-frontend-styles-css'  href='http://pointenorth.org/wp-content/plugins/genesis-custom-headers/css/gch-frontend-styles.css?ver=4.1' type='text/css' media='all' />
		<link rel='stylesheet' id='parallax-google-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%7CSorts+Mill+Goudy&#038;ver=1.2' type='text/css' media='all' />
		<link rel='stylesheet' id='genesis-widgetized-footer-css'  href='http://pointenorth.org/wp-content/plugins/genesis-widgetized-footer/css/gwfoot-styles.min.css?ver=1419009880' type='text/css' media='all' />
		<link rel='stylesheet' id='genesis-printstyle-plus-css'  href='http://pointenorth.org/wp-content/plugins/genesis-printstyle-plus/css/print-html5.min.css?ver=1419009877' type='text/css' media='print' />
		<link rel='stylesheet' id='jetpack_css-css'  href='http://pointenorth.org/wp-content/plugins/jetpack/css/jetpack.css?ver=3.3' type='text/css' media='all' />
		<script type='text/javascript' src='http://pointenorth.org/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
		<script type='text/javascript' src='http://pointenorth.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
		<script type='text/javascript' src='http://pointenorth.org/wp-content/themes/pnc-parallax/js/responsive-menu.js?ver=1.0.0'></script>
		<script type='text/javascript' src='http://pointenorth.org/wp-content/themes/pnc-parallax/js/reftagger.js?ver=4.1'></script>
		<script type='text/javascript' src='http://pointenorth.org/wp-content/themes/pnc-parallax/js/modernizr.js?ver=4.1'></script>
		<script type='text/javascript' src='http://pointenorth.org/wp-content/themes/pnc-parallax/js/foundation.min.js?ver=4.1'></script>
		<script type='text/javascript' src='http://pointenorth.org/wp-content/themes/pnc-parallax/js/pnc.js?ver=4.1'></script>
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://pointenorth.org/xmlrpc.php?rsd" />
		<style type="text/css">
			#wpadminbar.nojs .ab-top-menu > li.menupop.icon-genesistbe:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.icon-genesistbe.hover > .ab-item, #wpadminbar.nojs .ab-top-menu > li.menupop.icon-genesistbe > .ab-item, #wpadminbar .ab-top-menu > li.menupop.icon-genesistbe > .ab-item {
				background-image: url(http://pointenorth.org/wp-content/plugins/genesis-toolbar-extras/images/icon-genesistbe.png);
				background-repeat: no-repeat;
				background-position: 0.85em 50%;
				padding-left: 30px;
			}
			#wp-admin-bar-ddw-genesis-languagesde > .ab-item:before, #wp-admin-bar-ddw-genesis-translate > .ab-item:before {
				color: #ff9900;
				content: '• ';
			}
			#wp-admin-bar-ddw-genesis-dynamikdesignstructure .ab-item, #wp-admin-bar-ddw-genesis-dynamikdesigncontent .ab-item, #wp-admin-bar-ddw-genesis-dynamikdesignextras .ab-item, #wp-admin-bar-ddw-genesis-mcgroupstart .ab-item {
				color: #21759b !important;
			}
			#wpadminbar li:hover ul ul {
				left: 0;
			}
			#wpadminbar .gtbe-search-input, #wpadminbar .gtbe-search-go {
				color: #21759b !important;
				text-shadow: none;
			}
			#wpadminbar .gtbe-search-input, #wpadminbar .gtbe-search-go {
				background-color: #fff;
				height: 18px;
				line-height: 18px;
				padding: 1px 4px;
			}
			#wpadminbar .gtbe-search-go {
				-webkit-border-radius: 11px;
				-moz-border-radius: 11px;
				border-radius: 11px;
				font-size: 0.67em;
				margin: 0 0 0 2px;
			}
			#wpadminbar #wp-admin-bar-ddw-genesis-tpplugin_extender.ab-submenu {
				border-top: 0 none !important;
				margin-top: -10px !important;
			}
		</style>
		<link rel="Shortcut Icon" href="http://pointenorth.org/wp-content/themes/pnc-parallax/images/favicon.ico" type="image/x-icon" />
		<link rel="pingback" href="http://pointenorth.org/xmlrpc.php" />
		<style type="text/css">
			.site-title a {
				background: url(http://pointenorth.org/wp-content/uploads/2014/12/cropped-logo1.png) no-repeat !important;
			}
		</style>
		<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<style type="text/css" media="print">
			#wpadminbar {
				display: none;
			}
		</style>
		<style type="text/css" media="screen">
			html {
				margin-top: 32px !important;
			}
			* html body {
				margin-top: 32px !important;
			}
			@media screen and (max-width: 782px) {
				html {
					margin-top: 46px !important;
				}
				* html body {
					margin-top: 46px !important;
				}
			}
		</style>
	</head>
	<body class="page page-id-179 page-parent page-template page-template-page_pnc page-template-page_pnc-php logged-in admin-bar no-customize-support custom-header header-image full-width-content parallax-pro-blue pnc_general" itemscope="itemscope" itemtype="http://schema.org/WebPage">
		<div class="site-container">
			<header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
				<div class="wrap">
					<div class="title-area">
						<h1 class="site-title" itemprop="headline"><a href="http://pointenorth.org/">Pointe North Church</a></h1><h2 class="site-description" itemprop="description">Bringing People Closer to Jesus</h2>
					</div>
					<aside class="widget-area header-widget-area">
						<section id="nav_menu-2" class="widget widget_nav_menu">
							<div class="widget-wrap">
								<nav class="nav-header" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
									<ul id="menu-main-menu" class="menu genesis-nav-menu">
										<li id="menu-item-341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-341">
											<a href="http://pointenorth.org/">Home</a>
											<ul class="sub-menu">
												<li id="menu-item-367" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-367">
													<a href="http://pointenorth.org/help/parallax-top/">Parallax Top</a>
												</li>
												<li id="menu-item-368" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368">
													<a href="http://pointenorth.org/help/soundcloud/">SoundCloud</a>
												</li>
											</ul>
										</li>
										<li id="menu-item-342" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-179 current_page_item menu-item-has-children menu-item-342">
											<a href="http://pointenorth.org/about-us/">About Us</a>
											<ul class="sub-menu">
												<li id="menu-item-343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-343">
													<a href="http://pointenorth.org/about-us/beliefs/">Beliefs</a>
												</li>
												<li id="menu-item-344" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-344">
													<a href="http://pointenorth.org/about-us/pastors-staff/">Pastors &#038; Staff</a>
												</li>
												<li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346">
													<a href="http://pointenorth.org/about-us/family-ministries/">Family Ministries</a>
												</li>
												<li id="menu-item-345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-345">
													<a href="http://pointenorth.org/about-us/mission-values/">Mission &#038; Values</a>
												</li>
											</ul>
										</li>
										<li id="menu-item-347" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-347">
											<a href="http://pointenorth.org/next-steps/">Next Steps</a>
											<ul class="sub-menu">
												<li id="menu-item-356" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-356">
													<a href="http://pointenorth.org/next-steps/meet-jesus/">Meet Jesus</a>
												</li>
												<li id="menu-item-355" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-355">
													<a href="http://pointenorth.org/next-steps/read-the-bible/">Read The Bible</a>
												</li>
												<li id="menu-item-349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-349">
													<a href="http://pointenorth.org/next-steps/get-baptized/">Get Baptized</a>
												</li>
												<li id="menu-item-348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-348">
													<a href="http://pointenorth.org/next-steps/start-serving/">Start Serving</a>
												</li>
												<li id="menu-item-354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354">
													<a href="http://pointenorth.org/next-steps/join-a-small-group/">Join A Small Group</a>
												</li>
												<li id="menu-item-353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-353">
													<a href="http://pointenorth.org/next-steps/become-a-member/">Become A Member</a>
												</li>
												<li id="menu-item-352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-352">
													<a href="http://pointenorth.org/next-steps/outreach-missions/">Outreach Missions</a>
												</li>
												<li id="menu-item-351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-351">
													<a href="http://pointenorth.org/next-steps/care-prayer/">Care &#038; Prayer</a>
												</li>
												<li id="menu-item-350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350">
													<a href="http://pointenorth.org/next-steps/financial-assistance/">Financial Assistance</a>
												</li>
											</ul>
										</li>
										<li id="menu-item-364" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-364">
											<a href="http://pointenorth.org/plan-a-visit/">Plan A Visit</a>
											<ul class="sub-menu">
												<li id="menu-item-366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366">
													<a href="http://pointenorth.org/plan-a-visit/what-to-expect/">What To Expect</a>
												</li>
												<li id="menu-item-365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-365">
													<a href="http://pointenorth.org/plan-a-visit/directions-maps/">Directions &#038; Maps</a>
												</li>
											</ul>
										</li>
										<li id="menu-item-361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-361">
											<a href="http://pointenorth.org/media/">Media</a>
											<ul class="sub-menu">
												<li id="menu-item-363" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363">
													<a href="http://pointenorth.org/media/current-series/">Current Series</a>
												</li>
												<li id="menu-item-362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-362">
													<a href="http://pointenorth.org/media/archives/">Archives</a>
												</li>
											</ul>
										</li>
										<li id="menu-item-357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-357">
											<a href="http://pointenorth.org/give/">Give</a>
											<ul class="sub-menu">
												<li id="menu-item-360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360">
													<a href="http://pointenorth.org/give/give-online/">Give Online</a>
												</li>
												<li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-359">
													<a href="http://pointenorth.org/give/financial-assistance/">Financial Assistance</a>
												</li>
												<li id="menu-item-358" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-358">
													<a href="http://pointenorth.org/give/2013-annual-report/">2013 Annual Report</a>
												</li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</section>
					</aside>
				</div>
			</header>
			<div class="site-inner">
				<div class="content-sidebar-wrap">
					<main class="content" role="main" itemprop="mainContentOfPage">
						<div class="row">
							<div class="medium-12 columns">
								<article class="post-179 page type-page status-publish entry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
									<header class="entry-header">
										<h1 class="entry-title" itemprop="headline">About Us</h1>
									</header>
									<div class="entry-content" itemprop="text">
										<!-- Put the URL to the parallax photo inside the div element below -->
										<div id="parallax-background-image" style="display: none;">
											<ptitle>
												About Us
											</ptitle>
											<color>
												#FFFFFF
											</color>
											<url>
												/wp-content/uploads/2014/09/Hand.jpg
											</url>
											<shadow_color>
												0,0,0
											</shadow_color>
											<shadow_opacity>
												0.5
											</shadow_opacity>
										</div>
										<!-- END HTML Construct for parallax photo page -->

										<div class="row">
											<div class="small-12 columns extra-margin">
												<h2 class="text-center">Convenient Location</h2>
												<p>
													We invite you to experience Pointe North Community Church at 110 Bilo Dr. (Bilo Shopping Center) in Moncks Corner, SC. Weekend services are held Sundays at 9:00 and 11:00 a.m. Services typically last for an hour and twenty minutes.
												</p>
												<p class="text-center">
													<a class="button-p" href="/plan-a-visit/directions-maps">Where are we located?</a>
												</p>
												</p>
											</div>
											<hr />
											<div class="small-12 columns extra-margin">
												<h2 class="text-center">Inviting Atmosphere</h2>
												<p>
													You might be greeted in the parking lot with a smile and a wave, or with a handshake at the door. Either way, we hope your first impression of PNCC is one of enthusiastic, sincere welcoming. We’re glad to come together in worship, and we’re glad you’ve joined us.
												</p>
												<p class="small-2 columns">
													&nbsp;
												<p class="small-8 columns"><img class="th" src="/wp-content/uploads/2014/09/Amy_Haley.jpg" alt="Prayer" />
												</p>
												<p class="small-2 columns">
													&nbsp;
												</p>
											</div>
											<hr />
											<div class="small-12 columns extra-margin">
												<h2 class="text-center">Diverse Body</h2>
												<p>
													Inside you’ll meet all kinds of people from different backgrounds. Some grew up in the church, and some are brand new, but each sought to find a personal relationship with the Lord and a church body with which to fellowship. These are the people who call PNCC home.
												</p>
												</p>
											</div>
											<hr />
										</div>
										<a class="post-edit-link" href="http://pointenorth.org/wp-admin/post.php?post=179&amp;action=edit">(Edit)</a>
									</div>
								</article>
							</div>
						</div>
					</main>
				</div>
			</div>
			<footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
				<div class="wrap">
					<div id="gwfoot-footer-one-area" class="gwfoot-footer-one-full-width">
						<div id="text-5" class="gwfoot-footer-one widget-area widget_text">
							<div class="textwidget"></div>
						</div>
					</div><!-- end #gwfoot-footer-one-area -->
				</div>
			</footer>
			<div id="gwfoot-footer-disclaimer-area">
				<div class="gwfoot-footer-disclaimer-content">
					<div id="text-6" class="gwfoot-footer-disclaimer widget-area widget_text">
						<div class="textwidget">
							<div class="row">
								<div class="medium-8 columns">
									<ul>
										<li>
											&#x000A9;&nbsp;2014 Pointe North Church - All Rights Reserved
										</li>
										<li>
											110 Bilo Drive, Moncks Corner, SC, 29461
										</li>
										<li>
											Telephone: <a href="tel:843-761-6196">843-761-6196</a>
										</li>
										<li>
											Email: <a href="mailto:pnccinfo@pointenorth.org">pnccinfo@pointenorth.org</a>
										</li>
									</ul>
									<p>
										<a href="https://pnccchssc.infellowship.com/UserLogin/Index?ReturnUrl=%2fonlinegiving%2fgivenow%2fstep1" target="_blank">Online Giving</a> | <a href="#directions">Directions</a> | <a href="#prayer_requests">Prayer Requests</a> | <a href="/privacy">Privacy Policy</a>
									</p>
								</div>
								<div class="medium-4 columns">
									<!-- Image URLS need to be /wp-content/themes/pnc-parallax/images/{IMAGE_NAME} -->
									<p>
										<a href="http://www.bible.com/app" target="_blank"> <img id="youversion" src="/wp-content/themes/pnc-parallax/images/color_logo.png" /> <img id="bible" src="/wp-content/themes/pnc-parallax/images/Bible-app-icon-english-144x144.png" /> </a>
									</p>
									<!-- Image URLS need to be /wp-content/themes/pnc-parallax/images/social/{IMAGE_NAME} -->
									<p style="padding-top: 10px;">
										<a href="http://pointenorth.org/feed"><img class="social" id="rss" src="/wp-content/themes/pnc-parallax/images/social/rss-128.png" /></a>
										<a href="mailto:pnccinfo@pointenorth.org" target="_blank"><img class="social" id="email" src="/wp-content/themes/pnc-parallax/images/social/email-128.png" /></a>
										<a href="https://www.facebook.com/PointeNorth" target="_blank"><img class="social" id="facebook" src="/wp-content/themes/pnc-parallax/images/social/facebook-128.png" /></a>
										<a href="https://twitter.com/pncc_sc" target="_blank"><img class="social" id="twitter" src="/wp-content/themes/pnc-parallax/images/social/twitter-128.png" /></a>
										<img style="cursor: pointer;" id="paypal_footer" class="social" id="twitter" src="/wp-content/themes/pnc-parallax/images/social/paypal-128.png" onclick="document.forms['paypal_form'].submit();" />
										<form id="paypal_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
											<input name="cmd" value="_s-xclick" type="hidden">
											<input name="hosted_button_id" value="P8SXZVLAKNRQW" type="hidden">
										</form>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end .gwfoot-footer-disclaimer-content -->
			</div><!-- end #gwfoot-footer-disclaimer-area -->
		</div>
		<script>
			jQuery(document).foundation();
		</script><script type='text/javascript' src='http://pointenorth.org/wp-includes/js/admin-bar.min.js?ver=4.1'></script>
		<script type='text/javascript' src='http://pointenorth.org/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
		<script type='text/javascript'>
			/* <![CDATA[ */
			var _wpcf7 = {
				"loaderUrl" : "http:\/\/pointenorth.org\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
				"sending" : "Sending ..."
			};
			/* ]]> */
		</script>
		<script type='text/javascript' src='http://pointenorth.org/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.0.3'></script>
		<script type='text/javascript' src='http://pointenorth.org/wp-includes/js/comment-reply.min.js?ver=4.1'></script>
		<script type="text/javascript">
			( function() {
					var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?' + cs + '(\\s+|$)');

					request = true;

					b[c] = b[c].replace(rcs, ' ');
					b[c] += (window.postMessage && request ? ' ' : ' no-' ) + cs;
				}());
		</script>
		<div id="wpadminbar" class="nojq nojs" role="navigation">
			<a class="screen-reader-shortcut" href="#wp-toolbar" tabindex="1">Skip to toolbar</a>
			<div class="quicklinks" id="wp-toolbar" role="navigation" aria-label="Top navigation toolbar." tabindex="0">
				<ul id="wp-admin-bar-root-default" class="ab-top-menu">
					<li id="wp-admin-bar-wp-logo" class="menupop">
						<a class="ab-item"  aria-haspopup="true" href="http://pointenorth.org/wp-admin/about.php" title="About WordPress"><span class="ab-icon"></span></a>
						<div class="ab-sub-wrapper">
							<ul id="wp-admin-bar-wp-logo-default" class="ab-submenu">
								<li id="wp-admin-bar-about">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/about.php">About WordPress</a>
								</li>
							</ul>
							<ul id="wp-admin-bar-wp-logo-external" class="ab-sub-secondary ab-submenu">
								<li id="wp-admin-bar-wporg">
									<a class="ab-item"  href="https://wordpress.org/">WordPress.org</a>
								</li>
								<li id="wp-admin-bar-documentation">
									<a class="ab-item"  href="http://codex.wordpress.org/">Documentation</a>
								</li>
								<li id="wp-admin-bar-support-forums">
									<a class="ab-item"  href="https://wordpress.org/support/">Support Forums</a>
								</li>
								<li id="wp-admin-bar-feedback">
									<a class="ab-item"  href="https://wordpress.org/support/forum/requests-and-feedback">Feedback</a>
								</li>
							</ul>
						</div>
					</li>
					<li id="wp-admin-bar-site-name" class="menupop">
						<a class="ab-item"  aria-haspopup="true" href="http://pointenorth.org/wp-admin/">Pointe North Church</a>
						<div class="ab-sub-wrapper">
							<ul id="wp-admin-bar-site-name-default" class="ab-submenu">
								<li id="wp-admin-bar-dashboard">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/">Dashboard</a>
								</li>
							</ul>
							<ul id="wp-admin-bar-appearance" class="ab-submenu">
								<li id="wp-admin-bar-themes">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/themes.php">Themes</a>
								</li>
								<li id="wp-admin-bar-customize" class="hide-if-no-customize">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/customize.php?url=http%3A%2F%2Fpointenorth.org%2Fabout-us%2F">Customize</a>
								</li>
								<li id="wp-admin-bar-widgets">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/widgets.php">Widgets</a>
								</li>
								<li id="wp-admin-bar-menus">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/nav-menus.php">Menus</a>
								</li>
								<li id="wp-admin-bar-header" class="hide-if-customize">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/themes.php?page=custom-header">Header</a>
								</li>
								<li id="wp-admin-bar-customize-header" class="hide-if-no-customize">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/customize.php?url=http%3A%2F%2Fpointenorth.org%2Fabout-us%2F&#038;autofocus%5Bcontrol%5D=header_image">Header</a>
								</li>
							</ul>
						</div>
					</li>
					<li id="wp-admin-bar-comments">
						<a class="ab-item"  href="http://pointenorth.org/wp-admin/edit-comments.php" title="0 comments awaiting moderation"><span class="ab-icon"></span><span id="ab-awaiting-mod" class="ab-label awaiting-mod pending-count count-0">0</span></a>
					</li>
					<li id="wp-admin-bar-new-content" class="menupop">
						<a class="ab-item"  aria-haspopup="true" href="http://pointenorth.org/wp-admin/post-new.php" title="Add New"><span class="ab-icon"></span><span class="ab-label">New</span></a>
						<div class="ab-sub-wrapper">
							<ul id="wp-admin-bar-new-content-default" class="ab-submenu">
								<li id="wp-admin-bar-new-post">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/post-new.php">Post</a>
								</li>
								<li id="wp-admin-bar-new-media">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/media-new.php">Media</a>
								</li>
								<li id="wp-admin-bar-new-page">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/post-new.php?post_type=page">Page</a>
								</li>
								<li id="wp-admin-bar-new-user">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/user-new.php">User</a>
								</li>
							</ul>
						</div>
					</li>
					<li id="wp-admin-bar-edit">
						<a class="ab-item"  href="http://pointenorth.org/wp-admin/post.php?post=179&#038;action=edit">Edit Page</a>
					</li>
					<li id="wp-admin-bar-ddw-genesis-admin-bar" class="menupop icon-genesistbe">
						<a class="ab-item"  aria-haspopup="true" href="http://pointenorth.org/wp-admin/admin.php?page=genesis" title="Genesis Framework">Genesis</a>
						<div class="ab-sub-wrapper">
							<ul id="wp-admin-bar-ddw-genesis-admin-bar-default" class="ab-submenu">
								<li id="wp-admin-bar-ddw-genesis-genesissettings" class="menupop">
									<a class="ab-item"  aria-haspopup="true" href="http://pointenorth.org/wp-admin/admin.php?page=genesis" title="Theme Settings">Theme Settings</a>
									<div class="ab-sub-wrapper">
										<ul id="wp-admin-bar-ddw-genesis-genesissettings-default" class="ab-submenu">
											<li id="wp-admin-bar-ddw-genesis-genesiswidgets">
												<a class="ab-item"  href="http://pointenorth.org/wp-admin/widgets.php" title="Genesis Widgets">Genesis Widgets</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesismenus">
												<a class="ab-item"  href="http://pointenorth.org/wp-admin/nav-menus.php" title="Genesis Menus">Genesis Menus</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-theme-header">
												<a class="ab-item"  href="http://pointenorth.org/wp-admin/themes.php?page=custom-header" title="Custom Header">Custom Header</a>
											</li>
										</ul>
									</div>
								</li>
								<li id="wp-admin-bar-ddw-genesis-genesisseo">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/admin.php?page=seo-settings" title="SEO Settings">SEO Settings</a>
								</li>
								<li id="wp-admin-bar-ddw-genesis-genesisimportexport">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/admin.php?page=genesis-import-export" title="Import &amp; Export">Import &amp; Export</a>
								</li>
							</ul>
							<div id="wp-admin-bar-ddw-genesis-extgroup-container" class="ab-group-container">
								<ul id="wp-admin-bar-ddw-genesis-tgroup" class="ab-submenu">
									<li id="wp-admin-bar-ddw-genesis-tpchild">
										<a class="ab-item"  href="http://pointenorth.org/wp-admin/admin.php?page=genesis#genesis-theme-settings-style-selector" title="Theme:&nbsp;Pointe North Parallax">Theme:&nbsp;Pointe North Parallax</a>
									</li>
								</ul>
								<ul id="wp-admin-bar-ddw-genesis-pgroup" class="ab-submenu">
									<li id="wp-admin-bar-ddw-genesis-extensions" class="menupop">
										<a class="ab-item"  aria-haspopup="true" href="http://pointenorth.org/wp-admin/plugins.php" title="Active Genesis Extensions Plugins">Active Extensions</a>
										<div class="ab-sub-wrapper">
											<ul id="wp-admin-bar-ddw-genesis-extensions-default" class="ab-submenu">
												<li id="wp-admin-bar-ddw-genesis-extsp-simpleedits">
													<a class="ab-item"  href="http://pointenorth.org/wp-admin/admin.php?page=genesis-simple-edits" title="Simple Edits">Simple Edits</a>
												</li>
												<li id="wp-admin-bar-ddw-genesis-extsp-simplehooks">
													<a class="ab-item"  href="http://pointenorth.org/wp-admin/admin.php?page=simplehooks" title="Simple Hooks">Simple Hooks</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
							<ul id="wp-admin-bar-ddw-genesis-genesisgroup" class="ab-sub-secondary ab-submenu">
								<li id="wp-admin-bar-ddw-genesis-genesissupport" class="menupop ddw-genesis-gtbe-new-tab">
									<a class="ab-item"  aria-haspopup="true" href="https://my.studiopress.com/" target="_blank" title="Genesis Support my.SP - official personal StudioPress Support Resources for Members">Genesis Support my.SP</a>
									<div class="ab-sub-wrapper">
										<ul id="wp-admin-bar-ddw-genesis-genesissupport-default" class="ab-submenu">
											<li id="wp-admin-bar-ddw-genesis-genesissupportmysprequest" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://my.studiopress.com/help/" target="_blank" title="Help Request">Help Request</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesissupportmysptutorials" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://my.studiopress.com/tutorials/" target="_blank" title="Tutorials">Tutorials</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesissupportmyspsnippets" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://my.studiopress.com/snippets/" target="_blank" title="Code Snippets">Code Snippets</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesissupportmyspdownloads" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://my.studiopress.com/" target="_blank" title="My Downloads">My Downloads</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesissupportmysppurchases" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://my.studiopress.com/purchases/" target="_blank" title="My Purchases">My Purchases</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesissupportmyspinfo" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://my.studiopress.com/account/" target="_blank" title="My Account Info">My Account Info</a>
											</li>
										</ul>
										<ul id="wp-admin-bar-ddw-genesis-supportcommon" class="ab-submenu">
											<li id="wp-admin-bar-ddw-genesis-genesiscommunitysupport" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.studiopress.com/forums" target="_blank" title="Genesis Community Support - official community support (public)">Genesis Community Support</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisoldsupport" class="menupop ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  aria-haspopup="true" href="http://www.studiopress.com/support/" target="_blank" title="Old, Read-only Forum">Old, Read-only Forum</a>
												<div class="ab-sub-wrapper">
													<ul id="wp-admin-bar-ddw-genesis-genesisoldsupport-default" class="ab-submenu">
														<li id="wp-admin-bar-ddw-genesis-genesisoldsupport-search" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="http://www.studiopress.com/support/search.php" target="_blank" title="Search Forum">Search Forum</a>
														</li>
														<li id="wp-admin-bar-ddw-genesis-genesisoldsupport-subscribed" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="http://www.studiopress.com/support/subscription.php" target="_blank" title="My Subscribed Topics">My Subscribed Topics</a>
														</li>
														<li id="wp-admin-bar-ddw-genesis-genesisoldsupport-user" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="http://www.studiopress.com/support/usercp.php" target="_blank" title="User Account at Support Site">User Account at Support Site</a>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</li>
								<li id="wp-admin-bar-ddw-genesis-genesisguide" class="menupop ddw-genesis-gtbe-new-tab">
									<a class="ab-item"  aria-haspopup="true" href="http://docs.google.com/viewer?url=http%3A%2F%2Fwww.studiopress.com%2Fdownload%2Fgenesis-for-beginners.pdf" target="_blank" title="Ultimate User Guide (PDF/ EBook)">Ultimate User Guide</a>
									<div class="ab-sub-wrapper">
										<ul id="wp-admin-bar-ddw-genesis-genesisguide-default" class="ab-submenu">
											<li id="wp-admin-bar-ddw-genesis-genesisguide-explained" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://designsbynickthegeek.com/tag/genesis-explained" target="_blank" title="Genesis Explained Series by Nick Croft (Community Resource)">Genesis Explained Series</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisguide-hooks" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.studiopress.com/tutorials/hook-reference" target="_blank" title="Hook Reference">Hook Reference</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisguide-visualhooks" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://genesistutorials.com/visual-hook-guide" target="_blank" title="Visual Hook Guide">Visual Hook Guide</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisguide-filter" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.studiopress.com/tutorials/filter-reference" target="_blank" title="Filter Reference">Filter Reference</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisguide-shortcodes" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.studiopress.com/tutorials/shortcode-reference" target="_blank" title="Shortcode Reference">Shortcode Reference</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisguide-visualmarkup" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.studiopress.com/tutorials/visual-markup-guide" target="_blank" title="Visual Markup Guide">Visual Markup Guide</a>
											</li>
										</ul>
									</div>
								</li>
								<li id="wp-admin-bar-ddw-genesis-genesistutorials" class="menupop ddw-genesis-gtbe-new-tab">
									<a class="ab-item"  aria-haspopup="true" href="http://www.studiopress.com/tutorials" target="_blank" title="Tutorials &amp; Snippets">Tutorials &amp; Snippets</a>
									<div class="ab-sub-wrapper">
										<ul id="wp-admin-bar-ddw-genesis-genesistutorials-default" class="ab-submenu">
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-community" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.studiopress.com/tutorials/community" target="_blank" title="Tutorials by the Community (official unofficial...)">Tutorials by the Community</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-studiopresstv" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.studiopress.tv/" target="_blank" title="Official Video Tutorials - StudioPress.tv">Video Tutorials</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-bgardner" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.briangardner.com/tutorials/" target="_blank" title="Genesis Tutorials by Brian Gardner">Tutorials by Brian Gardner</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-bgardner-snippets" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.briangardner.com/code/" target="_blank" title="Genesis Code Snippets by Brian Gardner">Snippets by Brian Gardner</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-berickson" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.billerickson.net/contributions/tutorials/" target="_blank" title="Genesis &amp; WordPress Tutorials by Bill Erickson">Tutorials by Bill Erickson</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-berickson-snippets" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.billerickson.net/code-tag/genesis-code/" target="_blank" title="Genesis Code Snippets by Bill Erickson">Snippets by Bill Erickson</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-wpsmith" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://wpsmith.net/category/genesis/" target="_blank" title="Genesis Tutorials by Travis Smith">Tutorials by Travis Smith</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-wpsmith-gloop" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://wpsmith.net/category/genesis-grid-loop/" target="_blank" title="Genesis Grid Loop Tutorials by Travis Smith">Grid Loop by Travis Smith</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-garyj" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://code.garyjones.co.uk/category/genesis/" target="_blank" title="Genesis Tutorials by Gary Jones">Tuturials by Gary Jones</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-nicktg" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://designsbynickthegeek.com/category/tutorials" target="_blank" title="Genesis Tutorials by Nick Croft">Tuturials by Nick Croft</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-bpotter-snippets" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://bradpotter.com/category/code-snippets/genesis-code-snippets/" target="_blank" title="Genesis Code Snippets by Brad Potter">Snippets by Brad Potter</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesistutorials-videos" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.youtube.com/results?search_query=genesis+framework" target="_blank" title="Community Video Tutorials (unofficial)">Community Video Tutorials</a>
											</li>
										</ul>
									</div>
								</li>
								<li id="wp-admin-bar-ddw-genesis-genesissites" class="menupop ddw-genesis-gtbe-new-tab">
									<a class="ab-item"  aria-haspopup="true" href="http://www.studiopress.com/" target="_blank" title="Genesis HQ">Genesis HQ</a>
									<div class="ab-sub-wrapper">
										<ul id="wp-admin-bar-ddw-genesis-genesissites-default" class="ab-submenu">
											<li id="wp-admin-bar-ddw-genesis-genesisblog" class="menupop ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  aria-haspopup="true" href="http://www.studiopress.com/blog/" target="_blank" title="Official Blog (StudioPress.com)">Official Blog</a>
												<div class="ab-sub-wrapper">
													<ul id="wp-admin-bar-ddw-genesis-genesisblog-default" class="ab-submenu">
														<li id="wp-admin-bar-ddw-genesis-genesisblog-bgardner" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="http://briangardner.com/" target="_blank" title="Brian Gardner Blog (The Genesis Leader - briangardner.com)">Brian Gardner Blog</a>
														</li>
														<li id="wp-admin-bar-ddw-genesis-genesisblog-copyblogger" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="http://copyblogger.com/blog/" target="_blank" title="CopyBlogger Blog (Genesis Backing Company - copyblogger.com)">CopyBlogger Blog</a>
														</li>
													</ul>
												</div>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisshowcase" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://www.studiopress.com/showcase/" target="_blank" title="Showcase Gallery">Showcase Gallery</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisresources" class="menupop ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  aria-haspopup="true" href="http://www.studiopress.com/resources/" target="_blank" title="Resources">Resources</a>
												<div class="ab-sub-wrapper">
													<ul id="wp-admin-bar-ddw-genesis-genesisresources-default" class="ab-submenu">
														<li id="wp-admin-bar-ddw-genesis-genesisresources-graphics" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="http://www.studiopress.com/graphics" target="_blank" title="Free Web Graphics">Free Web Graphics</a>
														</li>
														<li id="wp-admin-bar-ddw-genesis-genesisresources-palettes" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="http://www.studiopress.com/palettes" target="_blank" title="Color Palettes">Color Palettes</a>
														</li>
														<li id="wp-admin-bar-ddw-genesis-genesisresources-responsivetest" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="http://www.studiopress.com/responsive/?http://pointenorth.org" target="_blank" title="Mobile Responsive Design Testing">Mobile Responsive Testing</a>
														</li>
														<li id="wp-admin-bar-ddw-genesis-genesisresources-mediaqueries" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="http://bueltge.de/test/media-query-tester.php?testurl=http://pointenorth.org" target="_blank" title="Media Queries Tester">Media Queries Tester</a>
														</li>
													</ul>
												</div>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisaffiliates" class="menupop ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  aria-haspopup="true" href="http://www.studiopress.com/affiliates/" target="_blank" title="Affiliate Program">Affiliate Program</a>
												<div class="ab-sub-wrapper">
													<ul id="wp-admin-bar-ddw-genesis-genesisaffiliates-default" class="ab-submenu">
														<li id="wp-admin-bar-ddw-genesis-genesisaffiliateslogin" class="ddw-genesis-gtbe-new-tab">
															<a class="ab-item"  href="https://shareasale.com/a-login.cfm" target="_blank" title="Affiliate Login">Affiliate Login</a>
														</li>
													</ul>
												</div>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesispluginswporg" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://wordpress.org/extend/plugins/tags/genesis" target="_blank" title="More free plugins/extensions at WP.org">More free plugins/extensions at WP.org</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisfinder" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://genesisfinder.com/" target="_blank" title="GenesisFinder.com - Genesis Search Engine">GenesisFinder (Search)</a>
											</li>
											<li id="wp-admin-bar-ddw-genesis-genesisffnews" class="ddw-genesis-gtbe-new-tab">
												<a class="ab-item"  href="http://friendfeed.com/genesisnews" target="_blank" title="Genesis News Planet (official and community news via FriendFeed service)">Genesis News Planet</a>
											</li>
										</ul>
									</div>
								</li>
								<li id="wp-admin-bar-ddw-genesis-gfindersearchform">
									<div class="ab-item ab-empty-item"  title="GenesisFinder Search">
										<form method="get" action="http://genesisfinder.com/search/" class=" " target="_blank">
											<input type="text" placeholder="GenesisFinder Search" onblur="this.value=(this.value=='') ? 'GenesisFinder Search' : this.value;" onfocus="this.value=(this.value=='GenesisFinder Search') ? '' : this.value;" value="GenesisFinder Search" name="q" value="GenesisFinder Search" class="text gtbe-search-input" />
											<input type="submit" value="GO" class="gtbe-search-go"  />
										</form>
									</div>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<ul id="wp-admin-bar-top-secondary" class="ab-top-secondary ab-top-menu">
					<li id="wp-admin-bar-search" class="admin-bar-search">
						<div class="ab-item ab-empty-item" tabindex="-1">
							<form action="http://pointenorth.org/" method="get" id="adminbarsearch">
								<input class="adminbar-input" name="s" id="adminbar-search" type="text" value="" maxlength="150" />
								<input type="submit" class="adminbar-button" value="Search"/>
							</form>
						</div>
					</li>
					<li id="wp-admin-bar-my-account" class="menupop with-avatar">
						<a class="ab-item"  aria-haspopup="true" href="http://pointenorth.org/wp-admin/profile.php" title="My Account">Howdy, Chris Barker<img alt='' src='http://1.gravatar.com/avatar/956ffbeb2babb9b231b151a246e93ee9?s=26&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D26&amp;r=G' class='avatar avatar-26 photo' height='26' width='26' /></a>
						<div class="ab-sub-wrapper">
							<ul id="wp-admin-bar-user-actions" class="ab-submenu">
								<li id="wp-admin-bar-user-info">
									<a class="ab-item" tabindex="-1" href="http://pointenorth.org/wp-admin/profile.php"><img alt='' src='http://1.gravatar.com/avatar/956ffbeb2babb9b231b151a246e93ee9?s=64&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G' class='avatar avatar-64 photo' height='64' width='64' /><span class='display-name'>Chris Barker</span><span class='username'>chris</span></a>
								</li>
								<li id="wp-admin-bar-edit-profile">
									<a class="ab-item"  href="http://pointenorth.org/wp-admin/profile.php">Edit My Profile</a>
								</li>
								<li id="wp-admin-bar-logout">
									<a class="ab-item"  href="http://pointenorth.org/wp-login.php?action=logout&#038;_wpnonce=e4356cac2a">Log Out</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<a class="screen-reader-shortcut" href="http://pointenorth.org/wp-login.php?action=logout&#038;_wpnonce=e4356cac2a">Log Out</a>
		</div>

	</body>
</html>