<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title>Test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
		<link data-turbolinks-track="true" href="/assets/loader.css?body=1" media="all" rel="stylesheet" />
		<style type='text/css'>
			.home-section-1 {
				background-image: url(http://pnc.skar-lett.com/wp-content/uploads/2014/09/Hand.jpg);
			}
			.home-section-3 {
				background-image: url(http://pnc.skar-lett.com/wp-content/uploads/2014/09/Amy_Haley.jpg);
			}
			.home-section-5 {
				background-image: url(http://pnc.skar-lett.com/wp-content/themes/parallax-pro/images/bg-5.jpg);
			}
			.home-section-7 {
				background-image: url(http://pnc.skar-lett.com/wp-content/themes/pnc-parallax/images/bg-7.jpg);
			}
		</style>
		<link rel='stylesheet' id='dashicons-css'  href='http://pnc.skar-lett.com/wp-includes/css/dashicons.min.css?ver=4.0' type='text/css' media='all' />
		<link rel='stylesheet' id='parallax-google-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%7CSorts+Mill+Goudy&#038;ver=1.2' type='text/css' media='all' />
		<script data-turbolinks-track="true" src="/assets/modernizr.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/fastclick.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.abide.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.accordion.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.alert.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.clearing.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.dropdown.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.interchange.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.joyride.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.magellan.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.offcanvas.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.orbit.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.reveal.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.slider.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.tab.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.tooltip.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.topbar.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation/foundation.equalizer.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/foundation.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/responsive-menu.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/reftagger.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
		<link rel="Shortcut Icon" href="/assets/favicon.png" type="image/x-icon" />
		<style type="text/css">
			.site-title a {
				background: url(/assets/cropped-Logo_header.png) no-repeat !important;
			}
		</style>
		<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<meta content="authenticity_token" name="csrf-param" />
		<meta content="N/nhGSsVJL7RSlirno3EIFzPz4XfvMkyk9eCoBi/E6s=" name="csrf-token" />
	</head>

	<body class="pnc_general page page-id-20 page-template-default custom-header header-image full-width-content parallax-pro-blue" itemscope="itemscope" itemtype="http://schema.org/WebPage">

		<div class="site-container">

			<header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
				<div class="wrap">
					<div class="title-area">
						<h1 class="site-title" itemprop="headline"><a href="http://pnc.skar-lett.com/">PNC Test</a></h1>
						<h2 class="site-description" itemprop="description">Bringing People Closer to Jesus</h2>
					</div>
					<aside class="widget-area header-widget-area">
						<section id="nav_menu-2" class="widget widget_nav_menu">
							<div class="widget-wrap">
								<nav class="nav-header" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
									<ul id="menu-main-menu" class="menu genesis-nav-menu">
										<li id="menu-item-home" class="menu-item menu-item-type-post_type menu-item-object-page">
											<a href="/">Home</a>
										</li>
										<li id="menu-item-test" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item current_page_item">
											<a href="/test">Test Page</a>
											<ul class="sub-menu">
												<li id="menu-item-89" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89">
													<a href="http://www.pointenorth.org">Test Link 1</a>
												</li>
												<li id="menu-item-90" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-90">
													<a href="http://www.pointenorth.org">Test Link 2</a>
												</li>
											</ul>
										</li>
										<li id="menu-item-online-giving" class="menu-item menu-item-type-post_type menu-item-object-page">
											<a href="/giving">Onine Giving</a>
										</li>
										<li id="menu-item-sermon" class="menu-item menu-item-type-post_type menu-item-object-page">
											<a href="/series">Sermons</a>
										</li>
										<li id="menu-item-test" class="menu-item menu-item-type-post_type menu-item-object-page">
											<a href="/volunteer">Get Involved</a>
										</li>
									</ul>
								</nav>
							</div>
						</section>
					</aside>
				</div>
			</header>

			<div class="site-inner">
				<div class="content-sidebar-wrap">
					<main class="content" role="main" itemprop="mainContentOfPage">

						<article class="post-20 page type-page status-publish entry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
							<header class="entry-header" style="display:none;">
								<h1 class="entry-title" itemprop="headline">General</h1>
							</header>

							<div class="row">
								<div class="medium-12 columns">
									<div class="entry-content" itemprop="text">
										<div class="row">

											<div class="small-12 columns extra-margin">
												<h2 class="text-center">Convenient Location</h2>
												<p>
													We invite you to experience Pointe North Community Church at 110 Bilo Dr. (Bilo Shopping Center) in Moncks Corner, SC. Weekend services are held Sundays at 9:00 and 11:00 a.m. Services typically last for an hour and twenty minutes.
												</p>
												<p class="text-center">
													<a class="button-p" href="/plan-a-visit/directions-maps">Where are we located?</a>
												</p>
											</div>

											<hr />

											<div class="small-12 columns extra-margin">
												<h2 class="text-center">Inviting Atmosphere</h2>
												<p>
													You might be greeted in the parking lot with a smile and a wave, or with a handshake at the door. Either way, we hope your first impression of PNCC is one of enthusiastic, sincere welcoming. We’re glad to come together in worship, and we’re glad you’ve joined us.
												</p>

												<p class="small-2 columns">
													&nbsp;
												<p>
												<p class="small-8 columns"><img class="th" src="/wp-content/uploads/2014/09/Amy_Haley.jpg" alt="Prayer" />
												</p>
												<p class="small-2 columns">
													&nbsp;
												<p>

											</div>

											<hr />

											<div class="small-12 columns extra-margin">
												<h2 class="text-center">Diverse Body</h2>
												<p>
													Inside you’ll meet all kinds of people from different backgrounds. Some grew up in the church, and some are brand new, but each sought to find a personal relationship with the Lord and a church body with which to fellowship. These are the people who call PNCC home.
												</p>
											</div>

											<hr />

										</div>
									</div>
								</div>
							</div>

						</article>

					</main>
				</div>
			</div>

			<footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
				<div class="wrap">
					<div id="gwfoot-footer-one-area" class="gwfoot-footer-one-one-third">
						<div id="text-7" class="gwfoot-footer-one widget-area widget_text">
							<div class="textwidget">
								<!-- Begin area to paste into Wordpress Widget -->
								<div style="display:none;" class="row">
									<div class="medium-8 columns" style="background: white;">
										Eight columns
									</div>
									<div class="medium-4 columns" style="background: blue;">
										Four columns
									</div>
								</div>
								<!-- End area to paste into Wordpress Widget -->
							</div>
						</div>
					</div><!-- end #gwfoot-footer-one-area -->
					<div id="gwfoot-footer-two-area" class="gwfoot-footer-two-two-thirds">
						<div id="text-8" class="gwfoot-footer-two widget-area widget_text">
							<div class="textwidget">
								<!-- Begin area to paste into Wordpress Widget -->
								<div style="display:none;" class="row">
									<div class="medium-8 columns" style="background: white;">
										Eight columns
									</div>
									<div class="medium-4 columns" style="background: blue;">
										Four columns
									</div>
								</div>
								<!-- End area to paste into Wordpress Widget -->
							</div>
						</div>
					</div><!-- end #gwfoot-footer-two-area -->
				</div>
			</footer>

			<div id="gwfoot-footer-disclaimer-area">
				<div class="gwfoot-footer-disclaimer-content">
					<div id="text-6" class="gwfoot-footer-disclaimer widget-area widget_text">
						<div class="textwidget">
							<!-- Begin area to paste into Wordpress Widget -->
							<div class="row">
								<div class="medium-8 columns">
									<ul>
										<li>
											&#x000A9;&nbsp;2014 Pointe North Church - All Rights Reserved
										</li>
										<li>
											110 Bilo Drive, Moncks Corner, SC, 29461
										</li>
										<li>
											Telephone: <a href="tel:843-761-6196">843-761-6196</a>
										</li>
										<li>
											Email: <a href="mailto:pnccinfo@pointenorth.org">pnccinfo@pointenorth.org</a>
										</li>
									</ul>
									<p>
										<a href="https://pnccchssc.infellowship.com/UserLogin/Index?ReturnUrl=%2fonlinegiving%2fgivenow%2fstep1" target="_blank">Online Giving</a> | <a href="http://www.bing.com/maps/#Y3A9MzMuMTg4NDgwfi03OS45OTU5NzkmbHZsPTE2JnN0eT1yJnJ0cD1hZHIufnBvcy4zMy4xODg3NDdfLTc5Ljk5Njk3OV8xMTAlMjBCaWxvJTIwRHIlMkMlMjBNb25ja3MlMjBDb3JuZXIlMkMlMjBTQyUyMDI5NDYxX19fZV8mbW9kZT1EJnJ0b3A9MH4wfjB+" target="_blank">Directions</a> | <a href="#prayer_requests">Prayer Requests</a> | <a href="/privacy">Privacy Policy</a>
									</p>
								</div>
								<div class="medium-4 columns">
									<!-- Image URLS need to be /wp-content/themes/pnc-parallax/images/{IMAGE_NAME} -->
									<p>
										<a href="http://www.bible.com/app" target="_blank"> <img id="youversion" src="/assets/color_logo.png" /> <img id="bible" src="/assets/Bible-app-icon-english-144x144.png" /> </a>
									</p>
									<!-- Image URLS need to be /wp-content/themes/pnc-parallax/images/social/{IMAGE_NAME} -->
									<p style="padding-top: 10px;">
										<a href="[site_url]/feed"><img class="social" id="rss" src="/assets/social/rss-128.png" /></a>
										<a href="mailto:pnccinfo@pointenorth.org" target="_blank"><img class="social" id="email" src="/assets/social/email-128.png" /></a>
										<a href="https://www.facebook.com/PointeNorth" target="_blank"><img class="social" id="facebook" src="/assets/social/facebook-128.png" /></a>
										<a href="https://twitter.com/pncc_sc" target="_blank"><img class="social" id="twitter" src="/assets/social/twitter-128.png" /></a>
										<img style="cursor: pointer;" id="paypal_footer" class="social" id="twitter" src="/assets/social/paypal-128.png" onclick="document.forms['paypal_form'].submit();" />
										<form id="paypal_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
											<input name="cmd" value="_s-xclick" type="hidden">
											<input name="hosted_button_id" value="P8SXZVLAKNRQW" type="hidden">
										</form>
									</p>
								</div>
							</div>
							<!-- End area to paste into Wordpress Widget -->
						</div>
					</div>
				</div><!-- end .gwfoot-footer-disclaimer-content -->
			</div><!-- end #gwfoot-footer-disclaimer-area -->

		</div>
		<script type='text/javascript' src='/assets/comment-reply.js'></script>
		<script type="text/javascript">
			$(document).foundation();
		</script>
	</body>
</html>