<div class="entry-content" itemprop="text">
	<div class="row">
		
		<div class="small-12 columns extra-margin">
		  <h2 class="text-center">Convenient Location</h2>
		  <p>We invite you to experience Pointe North Community Church at 110 Bilo Dr. (Bilo Shopping Center) in Moncks Corner, SC. Weekend services are held Sundays at 9:00 and 11:00 a.m. Services typically last for an hour and twenty minutes.</p>
		  <p class="text-center"><a class="button-p" href="/plan-a-visit/directions-maps">Where are we located?</a></p>
		</div>
	
		<hr />
	
		<div class="small-12 columns extra-margin">
		  <h2 class="text-center">Inviting Atmosphere</h2>
		  <p>You might be greeted in the parking lot with a smile and a wave, or with a handshake at the door. Either way, we hope your first impression of PNCC is one of enthusiastic, sincere welcoming. We’re glad to come together in worship, and we’re glad you’ve joined us.</p>
		  
			<p class="small-2 columns">&nbsp;<p>
		  <p class="small-8 columns"><img class="th" src="/wp-content/uploads/2014/09/Amy_Haley.jpg" alt="Prayer" /></p>
		  <p class="small-2 columns">&nbsp;<p>
		
		</div>
	
		<hr />
		
		<div class="small-12 columns extra-margin">
			<h2 class="text-center">Diverse Body</h2>
			<p>Inside you’ll meet all kinds of people from different backgrounds. Some grew up in the church, and some are brand new, but each sought to find a personal relationship with the Lord and a church body with which to fellowship. These are the people who call PNCC home.</p>
		</div>
		
		<hr />
		
		<div class="small-12 columns extra-margin">
			<h2 class="text-center">Relaxed Style</h2>
			<p>You’ll see people dressed in all manner of Sunday wear, from coats and ties to shorts and flip-flops. We’re not hung up on image at PNCC. As it says in 1 Samuel 16:7 “Man looks at the outward appearance, but the Lord looks at the heart."</p>
		</div>
		
		<hr />
		
		<div class="small-12 columns extra-margin">
			<h2 class="text-center">Dynamic Worship</h2>
			<p>The psalm says to “sing to Him a new song; play skillfully, and shout for joy.” That’s why worship at PNCC is alive, electric, engaging and real.  From countdown to dismissal, we strive to create an environment where God’s people find safety to worship Him freely. There are no rules--raise your hands, kneel, stand, or sit in reflection. Just respond sincerely to the call to praise and worship.</p>
		</div>
		
		<hr />
		
		<div class="small-12 columns extra-margin">
			<h2 class="text-center">Relevant Teaching</h2>
			<p>Jesus preached to ordinary people from all walks of life. He exhorted and challenged His audience using parables and examples taken from everyday situations. He made a timeless message of hope relevant to the people of His day, and that is exactly what we strive to deliver at Pointe North: a Truth-based teaching that applies on Sunday...and every day of the week.</p>
		</div>
		
		<div class="small-12 columns extra-margin">
			<p>So please join us this weekend. Let the welcoming atmosphere, relevant message, and celebratory worship experience breathe life into your spirit... and make PNCC the place you call home!</p>
		</div>
		
	</div>
</div>