<div class="row">
  <h5 class="pnc_blue">Name</h5>
  <div class="large-6 small-12 columns">
    <label>First Name <span style="color: #FF0000;">*</span>
      [text* first_name]
    </label>
  </div>
  <div class="large-6 small-12 columns">
    <label>Last Name <span style="color: #FF0000;">*</span>
      [text* last_name]
    </label>
  </div>
  </div>
</div>

<div class="row">
  <h5 class="pnc_blue">Birthdate</h5>
  <div class="large-6 small-12 columns">
    <label> Month <span style="color: #FF0000;">*</span>
    [select* birthdate-month include_blank "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December"]
    </label>
  </div>
  <div class="large-4 small-12 columns">
    <label>Day <span style="color: #FF0000;">*</span>
      [select* birthdate-day include_blank "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12" "13" "14" "15" "16" "17" "18" "19" "20" "21" "22" "23" "24" "25" "26" "27" "28" "29" "30" "31"]
    </label>
  </div>
  <div class="large-2 small-12 columns">
    <label>Year <span style="color: #FF0000;">*</span>
        <input style="color: lightgray;" type="text" name="birthdate-year" placeholder="1980" />
    </label>
  </div>
</div>
