/*
  Theme Name: Pointe North Parallax
  Theme URI: http://www.pointenorth.org
  Description: A mobile responsive and HTML5 theme based on StudioPress' Parallax Pro made for the Genesis Framework
  Author: Pointe North Church
  Author URI: http://www.pointenorth.org

  Version: 1.0

  Tags: black, white, blue, green, orange, pink, one-column, two-columns, responsive-layout, custom-header, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, premise-landing-page

  Template: genesis
  Template Version: 2.1

  License: GPL-2.0+
  License URI: http://www.opensource.org/licenses/gpl-license.php 
*/

// Variables
@import "lib/variables";
@import "lib/prelib-functions";
@import "lib/prelib-mixins";

// This brings in utilities, typography, css3
@import "compass";
@import "compass/layout";
// This brings in colors, grid, typography, utilities, form, interaction, debug, print, ie
@import "blueprint";
@import "blueprint/interaction";
@import "blueprint/buttons";
@import "blueprint/fancy-type";
@import "blueprint/link-icons";
@import "blueprint/liquid";
@import "blueprint/rtl";
@import "blueprint/scaffolding";

// Foundation
@import "foundation";

// Mixins, Functions
@import "lib/postlib-functions";
@import "lib/postlib-mixins";
@import "lib/classes";

// Application Styles
@import "parallax-pnc";
@import "pnc/tags";
@import "pnc/overrides";
@import "pnc/parallax-photo";
@import "pnc/widgetized_footer";
@import "pnc/general";
