      <footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
        <div class="wrap">
          <div id="gwfoot-footer-one-area" class="gwfoot-footer-one-one-third">
            <div id="text-7" class="gwfoot-footer-one widget-area widget_text">
              <div class="textwidget">
                <!-- Begin area to paste into Wordpress Widget -->
                <div style="display:none;" class="row">
                  <div class="medium-8 columns" style="background: white;">
                    Eight columns
                  </div>
                  <div class="medium-4 columns" style="background: blue;">
                    Four columns
                  </div>
                </div>
                <!-- End area to paste into Wordpress Widget -->
              </div>
            </div>
          </div><!-- end #gwfoot-footer-one-area -->
          <div id="gwfoot-footer-two-area" class="gwfoot-footer-two-two-thirds">
            <div id="text-8" class="gwfoot-footer-two widget-area widget_text">
              <div class="textwidget">
                <!-- Begin area to paste into Wordpress Widget -->
                <div style="display:none;" class="row">
                  <div class="medium-8 columns" style="background: white;">
                    Eight columns
                  </div>
                  <div class="medium-4 columns" style="background: blue;">
                    Four columns
                  </div>
                </div>
                <!-- End area to paste into Wordpress Widget -->
              </div>
            </div>
          </div><!-- end #gwfoot-footer-two-area -->
        </div>
      </footer>