      <footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
        <div class="wrap">
          <div id="gwfoot-footer-one-area" class="gwfoot-footer-one-one-third">
            <div id="text-7" class="gwfoot-footer-one widget-area widget_text">
              <div class="textwidget">
                <p>
                  110 Bilo Drive, Moncks Corner, SC 29461
                <p>
                <p>
                  Service Times - 9:00AM and 11:00AM
                </p>
              </div>
            </div>
          </div><!-- end #gwfoot-footer-one-area -->
          <div id="gwfoot-footer-two-area" class="gwfoot-footer-two-two-thirds">
            <div id="text-6" class="gwfoot-footer-two widget-area widget_text">
              <div class="textwidget">
                <p>
                  Copyright Pointe North Church &#x000A9;&nbsp;2014 - All Rights Reserved
                </p>
              </div>
            </div>
          </div><!-- end #gwfoot-footer-two-area -->
        </div>
      </footer>