      <div class="footer-widgets">
        <div class="wrap">
          <div class="footer-widgets-1 widget-area">
            <section id="text-6" class="widget widget_text">
              <div class="widget-wrap">
                <h4 class="widget-title widgettitle">Sample Footer Header</h4>
                <div class="textwidget">
                  <p>Sample Footer Text.</p>
                </div>
              </div>
            </section>
            <section id="text-7" class="widget widget_text">
              <div class="widget-wrap">
                <h4 class="widget-title widgettitle">Sample Header 2</h4>
                <div class="textwidget">
                  <p>
                    Sample header 2 text.
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>