<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name='robots' content='noindex,follow' />
    <link rel="alternate" type="application/rss+xml" title="PNC Test &raquo; Feed" href="http://pnc.skar-lett.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="PNC Test &raquo; Comments Feed" href="http://pnc.skar-lett.com/comments/feed/" />
    <link rel="canonical" href="http://pnc.skar-lett.com/test/" />
    <link rel='stylesheet' id='jetpack-subscriptions-css'  href='http://pnc.skar-lett.com/wp-content/plugins/jetpack/modules/subscriptions/subscriptions.css?ver=4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css'  href='http://pnc.skar-lett.com/wp-includes/css/dashicons.min.css?ver=4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='admin-bar-css'  href='http://pnc.skar-lett.com/wp-includes/css/admin-bar.min.css?ver=4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='parallax-pro-theme-css'  href='http://pnc.skar-lett.com/wp-content/themes/pnc-parallax/style.css?ver=1.2' type='text/css' media='all' />
    <style type='text/css'>
      .home-section-1 {
        background-image: url(http://pnc.skar-lett.com/wp-content/uploads/2014/09/Hand.jpg);
      }
      .home-section-3 {
        background-image: url(http://pnc.skar-lett.com/wp-content/uploads/2014/09/Amy_Haley.jpg);
      }
      .home-section-5 {
        background-image: url(http://pnc.skar-lett.com/wp-content/themes/parallax-pro/images/bg-5.jpg);
      }
      .home-section-7 {
        background-image: url(http://pnc.skar-lett.com/wp-content/themes/pnc-parallax/images/bg-7.jpg);
      }
    </style>
    <link rel='stylesheet' id='contact-form-7-css'  href='http://pnc.skar-lett.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.9.3' type='text/css' media='all' />
    <link rel='stylesheet' id='gch-frontend-styles-css'  href='http://pnc.skar-lett.com/wp-content/plugins/genesis-custom-headers/css/gch-frontend-styles.css?ver=4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='jetpack-widgets-css'  href='http://pnc.skar-lett.com/wp-content/plugins/jetpack/modules/widgets/widgets.css?ver=20121003' type='text/css' media='all' />
    <link rel='stylesheet' id='parallax-google-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%7CSorts+Mill+Goudy&#038;ver=1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='genesis-widgetized-footer-css'  href='http://pnc.skar-lett.com/wp-content/plugins/genesis-widgetized-footer/css/gwfoot-styles.min.css?ver=1410448667' type='text/css' media='all' />
    <link rel='stylesheet' id='genesis-printstyle-plus-css'  href='http://pnc.skar-lett.com/wp-content/plugins/genesis-printstyle-plus/css/print-html5.min.css?ver=1410448527' type='text/css' media='print' />
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-content/themes/pnc-parallax/js/responsive-menu.js?ver=1.0.0'></script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-content/themes/pnc-parallax/js/reftagger.js?ver=4.0'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://pnc.skar-lett.com/xmlrpc.php?rsd" />
    <style type="text/css">
      #wpadminbar.nojs .ab-top-menu > li.menupop.icon-genesistbe:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.icon-genesistbe.hover > .ab-item, #wpadminbar.nojs .ab-top-menu > li.menupop.icon-genesistbe > .ab-item, #wpadminbar .ab-top-menu > li.menupop.icon-genesistbe > .ab-item {
        background-image: url(http://pnc.skar-lett.com/wp-content/plugins/genesis-toolbar-extras/images/icon-genesistbe.png);
        background-repeat: no-repeat;
        background-position: 0.85em 50%;
        padding-left: 30px;
      }
      #wp-admin-bar-ddw-genesis-languagesde > .ab-item:before, #wp-admin-bar-ddw-genesis-translate > .ab-item:before {
        color: #ff9900;
        content: '• ';
      }
      #wp-admin-bar-ddw-genesis-dynamikdesignstructure .ab-item, #wp-admin-bar-ddw-genesis-dynamikdesigncontent .ab-item, #wp-admin-bar-ddw-genesis-dynamikdesignextras .ab-item, #wp-admin-bar-ddw-genesis-mcgroupstart .ab-item {
        color: #21759b !important;
      }
      #wpadminbar li:hover ul ul {
        left: 0;
      }
      #wpadminbar .gtbe-search-input, #wpadminbar .gtbe-search-go {
        color: #21759b !important;
        text-shadow: none;
      }
      #wpadminbar .gtbe-search-input, #wpadminbar .gtbe-search-go {
        background-color: #fff;
        height: 18px;
        line-height: 18px;
        padding: 1px 4px;
      }
      #wpadminbar .gtbe-search-go {
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 11px;
        font-size: 0.67em;
        margin: 0 0 0 2px;
      }
      #wpadminbar #wp-admin-bar-ddw-genesis-tpplugin_extender.ab-submenu {
        border-top: 0 none !important;
        margin-top: -10px !important;
      }
    </style>
    <style type='text/css'>
      img#wpstats {
        display: none
      }
    </style>
    <link rel="Shortcut Icon" href="http://pnc.skar-lett.com/wp-content/themes/pnc-parallax/images/favicon.ico" type="image/x-icon" />
    <link rel="pingback" href="http://pnc.skar-lett.com/xmlrpc.php" />
    <style type="text/css">
      .site-title a {
        background: url(http://pnc.skar-lett.com/wp-content/uploads/2014/09/cropped-Logo_header1.png) no-repeat !important;
      }
    </style>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <style type="text/css" media="print">
      #wpadminbar {
        display: none;
      }
    </style>
    <style type="text/css" media="screen">
      html {
        margin-top: 32px !important;
      }
      * html body {
        margin-top: 32px !important;
      }
      @media screen and (max-width: 782px) {
        html {
          margin-top: 46px !important;
        }
        * html body {
          margin-top: 46px !important;
        }
      }
    </style>

    <!-- Jetpack Open Graph Tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Test" />
    <meta property="og:url" content="http://pnc.skar-lett.com/test/" />
    <meta property="og:description" content="Notes of changes that have been made. Parallax Pro Blue has been modified to be &#8220;Pointe North&#8221; blue #003592 This is a sample button. I&#8217;ve added a rounded corner for now, just an i..." />
    <meta property="article:published_time" content="2014-09-09T19:28:53+00:00" />
    <meta property="article:modified_time" content="2014-09-11T16:05:51+00:00" />
    <meta property="article:author" content="http://pnc.skar-lett.com/author/amy/" />
    <meta property="og:site_name" content="PNC Test" />
    <meta property="og:image" content="http://wordpress.com/i/blank.jpg" />
    <meta name="twitter:site" content="@jetpack" />
    <meta name="twitter:card" content="summary" />

    <style type='text/css'>
      #wpadminbar .quicklinks li#wp-admin-bar-stats {
        height: 28px;
      }
      #wpadminbar .quicklinks li#wp-admin-bar-stats a {
        height: 28px;
        padding: 0;
      }
      #wpadminbar .quicklinks li#wp-admin-bar-stats a div {
        height: 28px;
        width: 95px;
        overflow: hidden;
        margin: 0 10px;
      }
      #wpadminbar .quicklinks li#wp-admin-bar-stats a:hover div {
        width: auto;
        margin: 0 8px 0 10px;
      }
      #wpadminbar .quicklinks li#wp-admin-bar-stats a img {
        height: 24px;
        padding: 2px 0;
        max-width: none;
        border: none;
      }
    </style>
    <script type="text/javascript">
      /* <![CDATA[ */
      var wpNotesIsJetpackClient = true;
      /* ]]> */
    </script>
  </head>
  <body class="page page-id-20 page-template-default logged-in admin-bar no-customize-support custom-header header-image full-width-content parallax-pro-blue" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <div class="site-container">
      <header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
        <div class="wrap">
          <div class="title-area">
            <h1 class="site-title" itemprop="headline"><a href="http://pnc.skar-lett.com/">PNC Test</a></h1><h2 class="site-description" itemprop="description">Bringing People Closer to Jesus</h2>
          </div>
          <aside class="widget-area header-widget-area">
            <section id="nav_menu-2" class="widget widget_nav_menu">
              <div class="widget-wrap">
                <nav class="nav-header" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                  <ul id="menu-main-menu" class="menu genesis-nav-menu">
                    <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                      <a href="http://pnc.skar-lett.com/">Home</a>
                    </li>
                    <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-20 current_page_item menu-item-23">
                      <a href="http://pnc.skar-lett.com/test/">Test</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </section>
          </aside>
        </div>
      </header>
      <div class="site-inner">
        <div class="content-sidebar-wrap">
          <main class="content" role="main" itemprop="mainContentOfPage">
            <article class="post-20 page type-page status-publish entry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
              <header class="entry-header">
                <h1 class="entry-title" itemprop="headline">Test</h1>
              </header>
              <div class="entry-content" itemprop="text">
                <p>
                  Notes of changes that have been made.
                </p>
                <ol>
                  <li>
                    Parallax Pro Blue has been modified to be &#8220;Pointe North&#8221; blue <span class="pnc_blue">#003592</span>
                  </li>
                  <li>
                    This is a sample button. I&#8217;ve added a rounded corner for now, just an idea.
                    <p>
                      <a class="button-p" href="/home">Homepage</a>
                    </p>
                  </li>
                  <li>
                    <p>
                      Sample SoundCloud Code (Note: Pointe North <span class="pnc_green">green</span> is the accent color)
                    </p>
                    <pre>
&lt;iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/pointe-north&amp;color=77b800&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"&gt;&lt;/iframe&gt;
</pre>
                  </li>
                  <li>
                    <p>
                      PNC Color Codes added to classes of pnc_green, pnc_blue, pnc_gray
                    </p>
                    <pre>
Green: <span class="pnc_green">#77B800</span>
Blue:  <span class="pnc_blue">#003592</span>
Gray:  <span class="pnc_gray">#A5ACB0</span>
</pre>
                  </li>
                  <li>
                    <p>
                      CSS Converted To SASS For Functions and Variables. This is to be able to manage it better. You don&#8217;t have to worry about this.
                    </p>
                    <pre>
$pnc-blue;
$pnc-green;
$pnc-gray;
</pre>
                  </li>
                  <li>
                    <p>
                      Changed colors of header and footer to PNC Gray. Added gradient to header and footer.
                      <br />
                      Gave header and footer minor transparency for see through effect. Text shadow on footer
                      <br />
                      to accent white text rather than blue.
                    </p>
                  </li>
                  <li>
                    <p>
                      Hardcoded <a href="http://reftagger.com/" target="_blank">RefTagger</a> into the theme. Hover over the Scripture >> John 3:16
                    </p>
                  </li>
                </ol>
                <a class="post-edit-link" href="http://pnc.skar-lett.com/wp-admin/post.php?post=20&amp;action=edit">(Edit)</a>
              </div>
            </article>
          </main>
        </div>
      </div>
      <footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
        <div class="wrap">
          <p>
            Copyright &#x000A9;&nbsp;2014 &#x000B7;<a href="http://my.studiopress.com/themes/parallax/">Parallax Pro Theme</a> &middot; <a href="http://my.studiopress.com/themes/genesis">Genesis Framework</a> by <a href="http://www.studiopress.com/">StudioPress</a> &middot; <a href="http://wordpress.org/">WordPress</a> &middot; <a href="http://pnc.skar-lett.com/wp-login.php?action=logout&#038;_wpnonce=baf5c61d86">Log out</a>
          </p>
        </div>
      </footer>
      <div id="gwfoot-footer-disclaimer-area">
        <div class="gwfoot-footer-disclaimer-content">
          <div id="text-6" class="gwfoot-footer-disclaimer widget-area widget_text">
            <div class="textwidget">
              &#x000A9;&nbsp;2014 Pointe North Church - All Rights Reserved | 110 Bilo Drive, Moncks Corner, SC, 29461 | <a href="tel:843-761-6196">843-761-6196</a> | <a href="mailto:info@pointenorth.org">info@pointenorth.org</a>
            </div>
          </div>
        </div><!-- end .gwfoot-footer-disclaimer-content -->
      </div><!-- end #gwfoot-footer-disclaimer-area -->
    </div>
    <div style="display:none"></div>
    <link rel='stylesheet' id='wpcom-notes-admin-bar-css'  href='http://s0.wp.com/wp-content/mu-plugins/notes/admin-bar-v2.css?ver=3.1.1-201437' type='text/css' media='all' />
    <link rel='stylesheet' id='noticons-css'  href='http://s0.wp.com/i/noticons/noticons.css?ver=3.1.1-201437' type='text/css' media='all' />
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-includes/js/admin-bar.min.js?ver=4.0'></script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
    <script type='text/javascript'>
      /* <![CDATA[ */
      var _wpcf7 = {
        "loaderUrl" : "http:\/\/pnc.skar-lett.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
        "sending" : "Sending ..."
      };
      /* ]]> */
    </script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.9.3'></script>
    <script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201437'></script>
    <script type='text/javascript' src='http://s.gravatar.com/js/gprofiles.js?ver=2014Sepaa'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var WPGroHo = {"my_hash":"cb3d38b102c93295f0a5ba3636f08757"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-content/plugins/jetpack/modules/wpgroho.js?ver=4.0'></script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-includes/js/comment-reply.min.js?ver=4.0'></script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-includes/js/underscore.min.js?ver=1.6.0'></script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-includes/js/backbone.min.js?ver=1.1.2'></script>
    <script type='text/javascript' src='http://s1.wp.com/wp-content/js/mustache.js?ver=3.1.1-201437'></script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-content/plugins/jetpack/_inc/spin.js?ver=1.3'></script>
    <script type='text/javascript' src='http://pnc.skar-lett.com/wp-content/plugins/jetpack/_inc/jquery.spin.js?ver=1.3'></script>
    <script type='text/javascript' src='http://s1.wp.com/wp-content/mu-plugins/notes/notes-common-v2.js?ver=3.1.1-201437'></script>
    <script type='text/javascript' src='http://s0.wp.com/wp-content/mu-plugins/notes/admin-bar-v2.js?ver=3.1.1-201437'></script>
    <script type="text/javascript">
(function() {
var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

request = true;

b[c] = b[c].replace( rcs, ' ' );
b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
}());
    </script>

  </body>
</html>
